<mat-toolbar color="primary">
  <b><span>{{ data ? 'Modifier le rôle' : 'Nouveau rôle' }}</span></b>
  <span class="spacer"></span>
</mat-toolbar>
<div mat-dialog-content class="content d-flex justify-content-center">
  <form [formGroup]="form" style="padding: 10px">
    <p class="mt-3 text-center" style="color: red" *ngIf="errorMessage">{{errorMessage}}</p>

    <div class="form-group row">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom">
        <mat-error *ngIf="form.get('nom')?.hasError('required')">Ce champ est requis.</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions style="display: flex; justify-content: end; padding: 10px; gap: 10px; margin-right: 10px">
  <button mat-raised-button mat-dialog-close color="accent" *ngIf="!isLoading">Fermer</button>
  <button
    mat-raised-button color="primary" type="submit"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    <ng-container *ngIf="isLoading; else submitTemplate">
      <mat-spinner diameter="20" mode="indeterminate"></mat-spinner>
    </ng-container>
    <ng-template #submitTemplate>Valider</ng-template>
  </button>
</div>

